.contein {
    background-image: url(https://i.pinimg.com/originals/1c/8d/ee/1c8dee1b09525f313d9c98f57a51e40f.jpg);
    background-size:contain;
    background-attachment: fixed;
    background-repeat: no-repeat;

    border-style:ridge;

    text-align: center;
  
}


h1 {
    color: rgb(253, 235, 73);
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(149, 163, 226);
}

