html {  
    background-image: url(https://i.pinimg.com/originals/1c/8d/ee/1c8dee1b09525f313d9c98f57a51e40f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contein {
    text-align: center;
    columns: white;
    margin: 10px;
    background-color: rgba(255, 255, 0, 0);
}

.info-personajes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 14px;
    background-color: #222;
}

